# Point DDNS client configuration file

[dyndns]
# point_username - User name or email address used to access the Point API
point_username: exampleuser

# point_api_key - Point API auth token, as taken from your profile page on the
#                 Point web site.
point_api_key: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# records - A comma separated list of DNS records to be updated or created. Each
#           record should list the record and zone, separated with a colon. For
#           example, the sample configuration below will create/update the
#           entries home.example.com, www.1.example.com, and the wildcard domain
#           *.example.com.
records: home:example.com, www.1:example.com, *:example.com
